#gameBox{
    margin: auto;
    width: 50%;
    position: absolute;
    /*21*64 / 14*64 */
    width: 1344px;
    height: 896px;
    background-color: pink;
    border: 5px solid black;
    
    visibility: hidden;
    
    
}

#hsDiv{
    position: absolute;
    margin: auto;
    height: 600;
    width: 300;
    top: 100;
    overflow-y: auto;
    border: 5px solid black;
    overflow-y:scroll;
}

#hsTable{
    position: relative;
    font-size: 10;
    
    
}

#return2{
    top: 800;
    width: 400;
    height: 50;
    font-size: 30;
    position: absolute;
    margin: auto;
    border: 3px solid black;
}


#entryBox{
        margin: auto;
        width: 50%;
        position: absolute;
        /*21*64 / 14*64 */
        width: 1344px;
        height: 896px;
        background-color: pink;
        border: 5px solid black;
        
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }


#hsb{
    margin: auto;
    width: 50%;
    position: absolute;
    /*21*64 / 14*64 */
    width: 1344px;
    height: 896px;
    background-color: pink;
    border: 5px solid black;
    
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#logInBox2{
    margin: auto;
    width: 50%;
    position: absolute;
    /*21*64 / 14*64 */
    width: 1344px;
    height: 896px;
    background-color: pink;
    border: 5px solid black;
    
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cab{
    margin: auto;
    width: 50%;
    position: absolute;
    /*21*64 / 14*64 */
    width: 1344px;
    height: 896px;
    background-color: pink;
    border: 5px solid black;
    
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.form1{
    
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20;
    
}




#cabInstructions{
    font-size: 20;
}

.formInput{
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 20;
}

.formButton{
    width: 200px;
    height: 50px;
    font-size: 20;
}

.button1{
    width: 400;
    height: 50;
    font-size: 30;
    position: relative;
    margin: auto;
    border: 3px solid black;
}

#boxes{
  position: absolute;
  margin: auto;
  width: 50%;
  padding: 30px;

}

#logInBox{
    margin: auto;
    width: 50%;
    position: absolute;
    /*21*64 / 14*64 */
    width: 1344px;
    height: 896px;
    background-color: pink;
    border: 5px solid black;
    
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    background-color: rgb(203, 218, 177);
    margin: auto;
    
   
    
}

.grid-cell{
    position: absolute;

    /*need to resize erything arounbd this (based on image) */
    width: 64px;
    height: 64px;    
}

.player{
    transition: transform 0.5s;

}

.explodeSmallSprite{
    width: 64;
    height: 50;
    background: url(smallRed.png);
    animation: fadeOut 2s linear infinite;
    z-index: 1; 
}

.player.me{
    /*see yourself on top of other players*/
   z-index: 2; 
}

.pickupSprite{
    background: url(bulletResized.png);
    animation: spin 3s linear infinite;
    /* z-index: 2; */
}

.pickupSprite2{
    background: url(heart.png);
    animation: spin 3s linear infinite;
    /* z-index: 2; */
}


.bulletSprite{
    background: url(ball.png);
    
    /* z-index: 2; */
}

.playerSprite {
    overflow: hidden;
    /* background: url(/Soldiers/redDown.png); */

}

.player[playerDirection ="down"][playerColour="blue"]  .playerSprite{
    background: url(blueDown.png);
  
}
.player[playerDirection ="down"][playerColour="red"] .playerSprite{
    background: url(redDown.png);
   
}
.player[playerDirection ="up"][playerColour="blue"]  .playerSprite{
    background: url(blueUp.png);
  
}
.player[playerDirection ="up"][playerColour="red"] .playerSprite{
    background: url(redUp.png);
   
}
.player[playerDirection ="right"][playerColour="blue"]  .playerSprite{
    background: url(blueRight.png);
  
}
.player[playerDirection ="right"][playerColour="red"] .playerSprite{
    background: url(redRight.png);
   
}
.player[playerDirection ="left"][playerColour="blue"]  .playerSprite{
    background: url(blueLeft.png);
  
}
.player[playerDirection ="left"][playerColour="red"] .playerSprite{
    background: url(redLeft.png);
   
}

.player[playerColour="red"] .playerInfo{
    position: absolute;
    font-size: 12px;
    top: -30px;
    border-radius: 5px;
    background: red;
    color: white;
    height: 30px;
    width: 80px;
}

.player[playerColour="blue"] .playerInfo{
    position: absolute;
    font-size: 12px;
    top: -30px;
    border-radius: 5px;
    background: blue;
    color: white;
    height: 30px;
    width: 80px;
}

@keyframes spin{
    0% {
        transform: perspective(400px) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateY(180deg);
    }
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
